* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #121921;
    margin-top: 5px;
}

.amazon {
    margin-left: 70px;
}

#select {
    width: 100px;
    height: 4vh;
    background-color: #FC9739;
    color: #FFFFFF;
}

.search {
    width: 30vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search {
    width: 30vw;
    height: 4vh;
}

#search-icon {
    width: 70px;
    height: 4vh;
    background-color: #FC9739;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.hello {
    color: #FFFFFF;
}

.top-section-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

#shopping {
    color: #FFFFFF;
    font-weight: bold;
}

.top-navbar {
    width: 100vw;
    height: 5vh;
    background-color: #242E3E;
}

.anavbar {
    display: inline-block;
    text-align: center; 
    width: auto;
    height: 5vh;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 15px 0 15px;
}

.anavbar:hover {
    background-color: #FC9739;
}

.anavbar:focus {
    background-color: #FC9739;
}

.content-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.categories {
    width: 19vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    line-height: 25px;
}

.acheckbox {
    text-decoration: none;
}

.acheckbox:hover {
    color: #FC9739;
}

.h4 {
    color: #FC9739;
}

.price {
    display: flex;
    flex-direction: row;
}

.price-input {
    width: 90px;
    height: 4vh;
    box-sizing: border-box;
    border: 1px solid #FC9739;
    margin-right: 3px;
    padding-left: 8px;
}

.go-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 4vh;
    background-color: #FC9739;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
}

.div-left {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.content-center {
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-big {
    width: 250px;
}

.img-small {
    margin-top: 30px;
    width: 18vw;
    display: flex;
    justify-content: space-around;
}

.img-small:hover {
    width: 30vw;
}

.content-right {
    width: 50vw;
    height: 60vh;
}

.jumper {
    font-weight: bold;
}

.stars {
    color: #FC9739;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.deleteddollar {
    color: #FC9739;
    text-decoration: line-through;
}

.content-right-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.new-price {
    font-size: 2em;
}

.content-right-button-a {
    text-decoration: none;
}

.content-right-button {
    width: 120px;
    height: 5vh;
    background-color: #FC9739;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.content-right-button:hover {
    background-color: #FFFFFF;
    color: #FC9739;
    box-sizing: border-box;
    border: 1px solid #FC9739;
}

.footer {
    width: 100vw;
    height: 18vh;
    background-color: #242E3E;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-div {
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    color: #FC9739;
}

.footer-div-div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.bottom-nav {
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .main {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .top-section {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .hello {
        display: none;
    }

    .top-section-right {
        display: none;
    }

    .top-navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        height: auto;
    }

    .anavbar {
        width: 500px;
        text-align: left;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 30px;
    }
    .content-center {
        display: flex;
        justify-content: flex-start;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 80vh;
        align-items: center;
        margin: 0px;
    }
    .footer-div {
        margin: 0px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .categories {
        width: auto;
        display: flex;
        justify-self: flex-end;
    }
    .content-center {
        width: auto;
        display: flex;
        align-items: center;
    }
    .anavbar:hover {
        width: 453px;
    }
   
}
